/* Basic Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1em;
    color: #fff;
}

.nav-links li {
    display: inline;
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

/* Hero Section */
.hero {
    padding: 50px;
    text-align: center;
    background-color: #282c34;
    color: white;
}

.video-content video {
    width: 80%;
    margin: 20px 0;
}

/* Skills Section */
.skills-section, .projects-section, .certifications-section, .education-section, .contact-section {
    padding: 50px;
    background-color: white;
    margin: 20px 0;
}

h2 {
    margin-bottom: 20px;
}

.skills-list, .projects-list {
    display: flex;
    justify-content: space-between;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
