.categories {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    white-space: nowrap;
}

.category-button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #f7f7f7;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.category-button:hover {
    background-color: #e3e3e3;
}

.active-category {
    background-color: #ff385c;
    color: white;
}
